.generate-pass-form {
  .col-form-label-no-pad {
    padding-top: 0
  }

  .form-check label {
    font-size: 90%;
    font-weight: 300;
    font-style: italic;
  }

  .btn-svg {
    svg {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }
}