@import 'bootstrap';
@import 'colors';

$sm-break: map-get($grid-breakpoints, "sm");
$md-break: map-get($grid-breakpoints, "md");
$lg-break: map-get($grid-breakpoints, "lg");
$xl-break: map-get($grid-breakpoints, "xl");

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
  position: absolute;
  width: 100%;

}

body {
  background-color: #fff;
}

#root {
  height: 100%;
  width: 100%;
}


@import '../components/pages/home/index';
@import '../components/pages/auth/index';
@import '../components/pages/manager/index';

@import '../components/pass-form/index';
@import '../components/pass-input/index';

@import '../components/helper/message/index';
@import '../components/helper/progress/index';

@import '../components/dialogs/entry/index';
@import '../components/dialogs/new-entry/index';
@import '../components/dialogs/pass/index';