
.manager-page {
  width: 100%;
  height: 100%;
  display: flex;

  .side-bar {
    width: 180px;
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    background: $primary;
    display: none;
    align-items: center;
    justify-content: center;
    position: relative;

    @media (min-width: $md-break) {
      display: flex;
    }

    @media (min-width: $lg-break) {
      width: 240px
    }


    .brand {
      position: absolute;
      left: 0;
      top: 10px;
      height: 40px;
      width: 100%;
      padding-left: 10px;

      img {
        max-height: 100%;
      }
    }

    .user-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .avatar {
        width: 110px;
        height: 110px;
        border-radius: 50%;
        background: $gray-100;
        position: relative;
        margin-bottom: 30px;

        @media (min-width: $lg-break) {
          width: 140px;
          height: 140px;
        }

        .f-letter, img {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
        }

        .f-letter {
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 60px;
          color: $primary;
          font-weight: 500;
        }

        img {
          z-index: 2;
          border-radius: 50%;
          border: 3px solid $white;
        }
      }

      .username {
        color: $white;
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 90%;
        background: lighten($purple, 10);

        &:before {
          content: '@'
        }
      }
    }

    .menu {
      position: absolute;
      left: 0;
      bottom: 10px;
      padding-left: 10px;

      .menu-item {
        color: $white;
        cursor: pointer;
        font-size: 95%;

        svg {
          width: 18px;
          height: 18px;
          fill: $white;
          margin-right: 10px;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .content {
    height: 100%;
    flex-grow: 1;

    .entry-list {
      padding: 10px;

      .entry-list-header {
        border-bottom: 1px solid $gray-200;
        padding: 20px 0;
        display: flex;
        justify-content: space-between;

        .entry-list-title {
          margin: 0;
          font-size: 32px;
          font-weight: 500;
          color: $gray-800;
        }

        .entry-list-buttons {

        }
      }


      &.loading {
        .entry-list-header {
          border-bottom: none;
        }
      }

      .entry-search {
        padding: 10px 0;
      }

      .entry-body {
        padding: 4px 0;

        .empty-list {
          text-align: center;
          color: $gray-500;
          padding: 20px 0;
        }

        .entry-body-item {
          padding: 10px 4px;
          display: flex;
          align-items: center;

          .item-copy, .item-edit {
            opacity: 0.3;
            transition: opacity .6s;
            width: 34px;
            text-align: center;


            svg {
              width: 24px;
              height: 24px;
              cursor: pointer;
            }
          }

          .item-copy {
            margin-right: 10px;

            svg {
              fill: lighten($purple, 14);
              color: lighten($purple, 14);
            }
          }

          .item-edit {
            svg {
              fill: $primary;
              color: $primary;
            }
          }

          .item-name {
            font-weight: 500;
            font-size: 20px;
            cursor: default;
            flex-grow: 1;
          }

          &:nth-child(even) {
            background: $gray-100;
          }

          &:hover {
            background: $gray-200;

            .item-copy, .item-edit {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

